@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

:root {
  --bg: #ede8de;
  --accent: #5d4108;
  --fg: #8c8473;

  --bg50: #1a140a80;
  --fg10: #70695c1a;

  --bgBox: #f6f3ee;
  --fgBox: #5d4108;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #3d3629;
    --accent: #d9bf8c;
    --fg: #dbd1bd;

    --bg50: #3d362980;
    --fg10: #dbd1bd1a;

    --bgBox: #5c513e;
    --fgBox: #3d3629;
  }
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 100ms linear;
}

*::selection {
  color: var(--bg);
  background: var(--accent);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 24px;
}

body {
  color: var(--fg);
  background: var(--bg);
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Krona One", sans-serif;
  color: var(--accent);
}

h1 {
  font-size: 100px;
  align-items: center;
  font-size: 6rem;
}

body > svg {
  position: absolute;
  right: 0;
  top: 0;
  min-height: 80vh;
  min-width: 100vw;
  max-height: 100vh;
  z-index: -100;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
}
